.fcr-layout {
  display: flex;
}

.fcr-layout-row {
  flex-direction: row;
}

.fcr-layout-col {
  flex-direction: column;
}
.fcr-layout-col-reverse {
  flex-direction: column-reverse;
}

.fcr-layout-content {
  position: relative;
  width: 0;
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  height: 100%;
}

.fcr-layout-header {
  flex: 0 0 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fcr-layout-aside {
  /* width: 19rem; */
  border-left: none;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
  border-color: var(--fcr_system_divider_color);
  border-left-width: 1px;

  gap: 4px;
  margin-left: 2px;
  position: relative;
  z-index: 3;
  flex-shrink: 0;
}
